html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}


/*display background color black on navbar scroll*/
.navbarScroll.navbarDark {
    background-color: black;
}

.navbarDark {
  background-color: black;
}

.animated-nav-link {
  color: #008000 !important;
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: #008000 !important; 
}


/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/whaa.gif');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#contact {
    margin-top: 3rem;
    margin-bottom: 5rem;
}
/* about section image css */
.imageAboutPage {
    width: 90%;
}

/* services section css */
.servicesText.card {
    height: 400px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.fa-download:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
    color: #008000;
}
.fab {
    color: #c1c9c1;
}

/* Center the email link and style it */
.email-link {
    text-align: center;
    margin-bottom: 20px;
}

.email-link a {
    text-decoration: none;
    color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-icon {
    font-size: 1.5em;
    margin-right: 10px;
}

.email-text {
    font-size: 1.2em;
}

/* Style the social icons wrapper */
.social-icons-wrapper {
    text-align: center;
    margin-top: 50px;
}

.social-icons-wrapper a {
    margin: 0 10px;
    color: darkgreen;
    font-size: 2em;
}

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

#gray-footer {
  background-color: #808080;
  padding: 2rem;
  text-align: center;
  color: white;
}

.reveal{
  position: relative;
  opacity: 0;
}

.reveal.active{
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
